body {
    background: #f4f7fa;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    width: 450px;
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 20px lightgray;
}